In [1]:
import os
import glob
import pandas as pd
import time
from PIL import Image

In [2]:
verbosity     = 1
which_dataset = 1

In [3]:
if   which_dataset == 0:
    root_dir = "/run/media/hoosiki/WareHouse2/home/mtb/datasets/vggface2/train_mtcnnpy_182"
elif which_dataset == 1:
    root_dir = "/run/media/hoosiki/WareHouse2/home/mtb/datasets/vggface2/test_mtcnnpy_182"
elif which_dataset == 2:
    root_dir = "/run/media/hoosiki/WareHouse2/home/mtb/datasets/lfw/lfw_mtcnnpy_182"
else:
    root_dir = "/run/media/hoosiki/WareHouse2/home/mtb/datasets/my_pictures/my_pictures_mtcnnpy_182"

In [4]:
files = glob.glob(root_dir+"/*/*")

In [5]:
time0 = time.time()
df = pd.DataFrame()
print("The number of files: ", len(files))
for idx, file in enumerate(files):
    if idx%10000 == 0:
        print("[{}/{}]".format(idx, len(files)-1))
    '''    
    try:
        img = Image.open(file) # open the image file
        img.verify() # verify that it is, in fact, an image
    except (IOError, SyntaxError) as e:
        if verbosity == 1:
            print('Bad file:', file) # print out the names of corrupt files
        pass
    else:
        face_id    = os.path.basename(file).split('.')[0]
        face_label = os.path.basename(os.path.dirname(file))
        df = df.append({'id': face_id, 'name': face_label}, ignore_index = True)
    '''    
    face_id    = os.path.basename(file).split('.')[0]
    face_label = os.path.basename(os.path.dirname(file))
    df = df.append({'id': face_id, 'name': face_label}, ignore_index = True)

The number of files:  56
[0/55]

In [6]:
df = df.sort_values(by = ['name', 'id']).reset_index(drop = True)

In [7]:
df['class'] = pd.factorize(df['name'])[0]

In [8]:
if which_dataset == 0:
    df.to_csv("train_vggface2.csv", index = False)
elif which_dataset == 1:
    df.to_csv("test_vggface2.csv", index = False)
elif which_dataset == 2:
    df.to_csv("valid_lfw.csv", index = False)
else:
    df.to_csv("my_pictures.csv", index = False)

elapsed_time = time.time() - time0
print("elapsted time: ", elapsed_time//3600, "h", elapsed_time%3600//60, "m")

elapsted time:  0.0 h 0.0 m

In [9]:
df

   id name  class
0   0    0      0
1   1    0      0
2   2    0      0
3   3    0      0
4   4    0      0
5   5    0      0
6   6    0      0
7   0    1      1
8   0   10      2
9   0   11      3
10  0   12      4
11  0   13      5
12  0   14      6
13  0   15      7
14  0   16      8
15  0   17      9
16  0   18     10
17  0   19     11
18  0    2     12
19  0   20     13
20  0   21     14
21  0   22     15
22  0   23     16
23  0   24     17
24  0   25     18
25  0   26     19
26  0   27     20
27  0   28     21
28  0   29     22
29  0    3     23
30  0   30     24
31  0   31     25
32  0   32     26
33  0   33     27
34  0   34     28
35  0   35     29
36  0   36     30
37  0   37     31
38  0   38     32
39  0   39     33
40  0    4     34
41  0   40     35
42  0   41     36
43  0   42     37
44  0   43     38
45  0   44     39
46  0   45     40
47  0   46     41
48  0   47     42
49  0   48     43
50  0   49     44
51  0    5     45
52  0    6     46
53  0    7     47
54  0    8     48
55  0    9     49